{% extends 'CopiaincollaMetaTagsBundle::layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="span12">
            <form action="{{ (entity.id) ? path('admin_metatag_update', {id: entity.id}) : path('admin_metatag_create') }}" method="post" {{ form_enctype(form) }} class="form form-horizontal form-metatag-edit" novalidate>

                {{ form_errors(form) }}

                <fieldset>

                    <legend class="title">
                        {{ (entity.id) ? 'Edit meta tag "'~entity.url~'"' : 'New meta tag'}}
                    </legend>

                    {{ form_row(form.url) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.keywords) }}
                    {{ form_row(form.author) }}

                    <hr>

                    <button type="submit" class="btn">
                        <i class="icon-ok"></i> Save
                    </button>

                    <a href="{{ path('admin_metatag') }}" class="btn">
                        <i class="icon-chevron-left"></i> Back to list
                    </a>

            </fieldset>
            {{ form_rest(form) }}
        </form>
        </div>
    </div>

{% endblock %}

{% block footerJavascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/copiaincollametatags/select2-release-3.2/select2.min.js') }}" type="text/javascript"></script>

    <script>
        $(function() {
            $('#{{ form.url.vars.id }}').select2({
                placeholder: "Seleziona una rotta",
                allowClear: true,
                dropdownCss: {'width': 'auto'}
            });

            // workaround per mostrare la ricerca della select. Esiste una regola che gli da display block
            $('.select2-drop').addClass('search-box-display');
        });

    </script>
{% endblock footerJavascripts %}

