{% extends 'CopiaincollaMetaTagsBundle::layout.html.twig' %}

{% block main %}

    <h1>Meta Tag</h1>

    <table>
        <thead>
            <tr>
                <th>
                    Url
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in urls %}

                {% set entity = (item.entity) ? item.entity : null %}

                <tr>
                    <td>
                        {{ item.url }}
                    </td>
                    <td>
                        {% if entity %}
                            {{ entity.title|raw }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity %}
                            {{ entity.description|raw }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity %}
                            <a href="{{ path('admin_metatag_edit', {'id': entity.id }) }}">
                                edit
                            </a>
                        {% else %}
                            <a href="{{ path('admin_metatag_new', {'url': item.url }) }}">
                                edit
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity %}
                            {% render controller('CopiaincollaMetaTagsBundle:MetaTagsAdmin:_deleteForm', {id: entity.id}) %}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity %}
                            <a href="{{ path('admin_metatag_show', {'id': entity.id }) }}">
                                show
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <a href="{{ path('admin_metatag_new') }}">
        New custom Meta Tag
    </a>

{% endblock %}
